{% extends 'base.jinja' %}

{% block main %}
<main id="releases">
  <h3>Metal Releases</h3>
  <h4>500: a server-side error occurred</h4>
  <p>Sometimes, something goes wrong on the backend. If this keeps occurring, <a href="mailto:set@blackmetalbookclub.com">contact the site admin.</a></p>
</main>
{% endblock %}