<fieldset>
  <legend>Date Range</legend>
  <label class="date-picker-label" for="input-release-date-start">from</label>
  <input id="input-release-date-start" name="start-date" type="date" value="{{ dates.selected_min }}"
    min="{{ dates.available_min }}" max="{{ dates.available_max }}" />
  <label class="date-picker-label" for="input-release-date-end">to</label>
  <input id="input-release-date-end" name="end-date" type="date" value="{{ dates.selected_max }}"
    min="{{ dates.available_min }}" max="{{ dates.available_max }}" />
</fieldset>