{% for record in page_results.data %}
{% if page_results.dates.selected_min == page_results.dates.selected_max %}
<details open>
{% else %}
<details>
  {% endif %}
  {% with date=record.get('date'), release_count=record.get('records')|length %}
  {% include "date-details-summary.jinja" %}
  {% endwith %}

  {% with releases=record.get('records'), start_date=page_results.selected_date_min, end_date=page_results.selected_date_max %}
  {% for release in releases %}
  {% include "release-details.jinja" %}
  {% endfor %}
  {% endwith %}
</details>
{% endfor %}