<details>
  <summary>
    <div class="release-header">
      <div class="release-header-band">
        {{ release.band }}
      </div>
      <div class="release-header-album">
        <a href="{{ release.album_url }}" target="_blank">{{ release.album }}</a>
      </div>
      <div class="release-header-type">
        {{ release.release_type }}
      </div>
      <div class="release-header-genre">
        {{ release.genre }}
      </div>
    </div>
  </summary>
  <table class="release-info">
    <tbody>
      {% if start_date != end_date %}
      <tr>
        <td class="attribute">Released</td>
        <td class="value">{{ release.release_date }}</td>
      </tr>
      {% endif %}
      <tr>
        <td class="attribute">Origin</td>
        <td class="value">{{ release.country_of_origin }}
          {% if release.formed_in %} ({{ release.formed_in }}){% endif %}
        </td>
      </tr>
      {% if release.location %}
      <tr>
        <td class="attribute">Location</td>
        <td class="value">{{ release.location }}</td>
      </tr>
      {% endif %}
      {% if release.label %}
      <tr>
        <td class="attribute">Label</td>
        <td class="value">{{ release.current_label }}</td>
      </tr>
      {% endif %}
      {% if release.theme != 'unknown' %}
      <tr>
        <td class="attribute">Themes</td>
        <td class="value">{{ release.theme }}</td>
      </tr>
      {% endif %}
      <tr>
        <td class="attribute">More</td>
        <td class="value">
          <ul class="links">
            <li><a href="{{ release.band_url }}" target="_blank">Metal Archives</a></li>
            {% for link in release.links %}
            <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</details>