<fieldset>
  <legend>Genre(s)</legend>
  {% for genre in genres %}
  <input id="input-genre-{{ genre|lower }}" name="format" type="checkbox" value="{{ genre }}" checked />
  <label class="checkbox-label" for="input-genre-{{ genre|lower }}">{{ genre }}</label>
  {% endfor %}
</fieldset>