{% extends 'base.jinja' %}

{% block main %}
<main id="releases">
  <h3>Metal Releases</h3>
  <h4>404: requested date is invalid</h4>
  <p>The requested date could not be found</p>
</main>
{% endblock %}