<fieldset>
  <legend>Format</legend>
  <input id="input-export-html" name="format" type="radio" value="html" checked />
  <label class="radio-label" for="input-export-html">HTML</label>
  <input id="input-export-json" name="format" type="radio" value="json" />
  <label class="radio-label" for="input-export-json">JSON</label>
</fieldset>