<fieldset>
  <legend>Page Size</legend>  
  {% for page_size in page_sizes %}
  {% if page_size == links.page_size %}
  <input id="input-page-size-{{ page_size }}" name="page-size" type="radio" value="{{ page_size }}" checked />
  {% else %}
  <input id="input-page-size-{{ page_size }}" name="page-size" type="radio" value="{{ page_size }}" />
  {% endif %}
  <label class="radio-label" for="input-page-size-{{ page_size }}">{{ page_size }}</label>
  {% endfor %}
</fieldset>