{% extends 'base.jinja' %}

{% block main %}
<main id="releases">
  
  <h2>Under Maintenance</h2>

  <p>
    This page is getting some major changes. <br />
    Check back later to try the new features.
  </p>

</main>
{% endblock %}