{% if links.last_page > 1 %}
<div id="page-picker">
  <ul>
    <li><a href="{{ links.first }}">|<</a></li>
    <li><a href="{{ links.back_five }}"><<</a></li>
    <li><a href="{{ links.back_one }}"><</a></li>
    <li>Page {{ links.current_page }} of {{ links.last_page }}</li>
    <li><a href="{{ links.next_one }}">></a></li>
    <li><a href="{{ links.next_five }}">>></a></li>
    <li><a href="{{ links.last }}">>|</a></li>
  </ul>
</div>
{% endif %}