{% extends 'base.jinja' %}

{% block main %}
<main id="album">

  {% if data.bands | length > 1 %}
  {% for band in data.bands %}
  <h2><a class="nowrap" href="/band/{{ band.band_key }}">{{ band.name }}</a>/
  {% endfor %}
  - <span class="nowrap">{{ data.name }}</span></h2>
  {% for band in data.bands %}
  <a href="/api/band/{{ band.band_key }}/album/{{ data.album_key }}">JSON ({{ band.name }})</a> |
  {% endfor %}
  {% else %}
  <h2><a class="nowrap" href="/band/{{ data.bands[0].band_key }}">{{ data.bands[0].name }}</a> - <span class="nowrap">{{ data.name }}</span></h2>
  <a href="/api/band/{{ data.bands[0].band_key }}/album/{{ data.album_key }}">JSON</a> |
  {% endif %}
  
  
  <a href="{{ data.url }}">Metal Archives</a><br />

  <section>
    <h3>Details</h3>
    <table>
      <tbody>
        <tr>
          <td><strong>label</strong></td>
          <td><a href="/label/{{ data.label.label_key }}">{{ data.label.name }}</a></td>
        </tr>
        {% for key in data.description %}
        {% with value=data.description[key] %}
        {% if value and value != 'Unknown' %}
        <tr>
          <td><strong>{{ key | replace('_', ' ') | title }}</strong></td>
          <td>{{ data.description[key] }}</td>
        </tr>
        {% endif %}
        {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h3>Tracklist</h3>
    <table>
      <thead>
        <th>No.</th>
        <th>Title</th>
        <th>Length</th>
      </thead>
      <tbody>
        {% for track in data.tracklist %}
        <tr>
          <td>{{ track.number }}</td>
          <td>{{ track.title }}</td>
          <td>
          {% if track.length %}
          {% if track.length.hours > 0 %}{{ track.length.hours }} hrs{% endif %}{% if track.length.hours > 0 and track.length.minutes > 0 %},{% endif %}
          {% if track.length.minutes > 0 %}{{ track.length.minutes }} mins{% endif %}{% if track.length.minutes > 0 and track.length.seconds > 0 %},{% endif %}
          {% if track.length.seconds > 0 %}{{ track.length.seconds }} secs{% endif %}
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  </main>
</main>
{% endblock %}