{% extends 'base.jinja' %}

{% block main %}
<main id="band">

  <h2>{{ data.name }}</h2>

  <a href="/api/band/{{ data.band_key }}">JSON</a> |
  <a href="{{ data.url }}">Metal Archives</a><br />

  <section>
    <h4>Details</h3>
    <table>
      <tbody>
        <tr>
          <td><strong>Genre</strong></td>
          <td>{{ data.genres.genre }}</td>
        </tr>
        <tr>
          <td><strong>Theme</strong></td>
          <td>{{ data.themes.theme }}</td>
        </tr>
        {% for key in data.description %}
        {% if data.description[key] %}
        <tr>
          <td><strong>{{ key | replace('_', ' ') | title }}</strong></td>
          <td>{{ data.description[key] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>

  {% if data.lineup | length > 0 %}
  <section>
    <h4>Line-up</h3>
    {% for lineup in data.lineup %}
      <table>
        <caption>{{ lineup.name }}</caption>
        {% for member in lineup.members %}
        <tr>
          <td><a href="{{ member.profile }}">{{ member.alias }}</a></td>
          <td>{{ member.role }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endfor %}
  </section>
  {% endif %}

</main>
{% endblock %}