<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>The Black Metal Book Club</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simple-bmbc.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bmbc.css') }}" />
</head>
<!--
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠛⠉⠉⣉⡉⢉⣉⠻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠋⣉⢉⣉⡉⠉⠙⠛⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠋⣠⣴⣤⣄⡙⠦⡀⠠⡼⠿⣷⣦⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⢠⣴⡿⠿⣤⠈⠀⠚⣁⣤⣤⣤⡙⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⢁⣴⣿⣿⣿⡿⠟⠛⠂⠈⠀⠰⠾⠛⣿⣧⠈⢿⣿⣿⣿⣿⣿⣿⣿⣿⠏⣠⣿⡿⠻⠶⠀⠈⠀⠚⠛⠻⣿⣿⣿⣷⣄⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⠻⠿⠿⠛⣋⣠⣾⠿⠟⢋⣩⣤⣶⣿⣿⣿⣷⣶⡀⢲⡿⠿⢿⣇⠘⣿⣿⣿⣿⣿⣿⣿⡏⢠⣿⠿⠿⣷⠂⣠⣾⣿⣿⣿⣶⣦⣄⣉⠛⠿⢷⣦⣌⡙⠻⠿⠿⢿⣿⣿⣿
⣿⣿⣿⣿⣿⣶⣤⣤⣬⣥⣤⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠀⣴⣶⣿⣿⡆⢹⣿⣿⣿⣿⣿⣿⠁⣾⣿⣷⣶⡄⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣶⣤⣭⣥⣤⣴⣾⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡆⢉⣴⣦⣈⣁⠀⣿⣿⣿⣿⣿⡏⢸⣍⣤⣦⣌⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠈⣡⣤⣈⣛⡀⢸⣿⣿⣿⣿⠀⣘⣋⣡⣌⡉⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡄⠛⣉⠛⠿⠟⠸⣿⣿⣿⡏⠀⠿⠟⢋⠙⠁⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠸⠿⢿⣶⣶⠀⢿⣿⣿⡇⢴⣶⣾⠿⠿⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢰⡿⠦⣤⣥⡄⢸⣿⣿⢁⣬⣩⡤⢾⣷⢀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⣤⣶⣦⣍⡁⠘⣿⠏⠈⣩⣤⣴⣶⡄⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⢛⣉⣡⣤⠄⣠⣤⣄⡀⠙⢿⣿⣿⣷⣶⣾⣿⣿⣿⠟⠋⣁⣤⣤⡀⢤⣄⣉⡙⠻⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠟⠛⣉⣉⡛⠛⠋⢠⣴⣶⣿⣿⣿⡇⢰⣿⣿⣿⣿⣆⠠⣌⠙⠛⠻⠛⠛⣉⡅⢠⣾⣿⣿⣿⡇⢈⣿⣿⣿⣷⣶⣤⠈⠛⠛⣋⣉⠙⠛⢿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⡏⢠⢿⣿⣿⣿⠋⣠⣴⣤⣉⡙⠻⠿⠟⠀⠛⠻⢿⣿⣿⣇⠙⣿⣿⣿⣿⣿⡟⢠⣾⣿⣿⠿⠛⠃⠘⠛⠟⠛⣋⣡⣴⣤⡈⢻⣿⣿⣿⣷⠈⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣄⠙⠿⣿⣿⣄⣙⣛⣛⣉⣥⡤⠒⣁⠀⠀⡓⢆⠙⣿⣿⡀⢹⣿⣿⣿⣿⠁⣼⣿⡟⠡⠐⠛⠂⢀⡑⠦⣤⣍⣙⣛⣛⣡⣼⣿⡿⠛⢁⣴⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⣬⣍⣙⣛⣋⣉⣭⣤⣴⣾⣿⣦⠀⠁⣀⠂⢹⣿⣇⢸⣿⣿⣿⣿⠀⣿⣿⠀⢀⡈⠀⣠⣿⣿⣶⣤⣭⣉⣙⣋⣋⣉⣭⣤⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢰⣄⣀⠈⣿⣿⢸⣿⣿⣿⣯⢸⣿⡇⣄⣠⣴⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢸⣿⣿⡆⢻⡟⢸⣿⣿⣿⣿⠀⣿⡇⣿⣿⡿⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡄⠹⣿⡇⢸⠇⣼⣿⣿⣿⣿⡀⢿⠇⣿⡿⠃⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡆⠻⣇⠘⢀⣿⣿⣿⣿⣿⣧⠈⢠⣿⢁⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀⣿⠇⣼⠋⣻⣿⣿⡟⢿⡀⢻⠃⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠸⢠⣿⠐⣿⣿⣿⡇⠸⡇⢸⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡄⢸⣧⡀⠘⢿⠏⠀⣠⡇⠀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡆⠀⢿⣿⣶⣤⣴⣾⣿⠇⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡀⢄⡙⠿⣿⡿⠟⡁⠄⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣅⡀⠻⠶⠦⠴⠟⢁⣤⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⣦⠀⢰⡄⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡆⠋⢠⠸⠁⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⣿⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡏⢀⠉⢀⠘⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛
                                   Self-Publish
                                 Hire Your Friends
-->

<body>
  <header>
    <svg id="logo-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 893.5 356.5">

      <path class="logo"
        d="m0,8.5c.97-.14,1.94-.4,2.91-.4,9.67-.03,19.33-.09,29,.05,1.5.02,3.28.66,4.43,1.62,24.09,20.14,48.12,40.36,72.15,60.57.38.32.77.62,1.62,1.3V8.08c1.24,0,2.05,0,2.86,0,9.5,0,19-.06,28.5.07,1.34.02,2.94.59,3.97,1.45,25.62,21.43,51.18,42.93,76.75,64.41.63.53,1.28,1.05,2.09,1.71,4.49-3.76,8.95-7.49,13.39-11.23,21.81-18.33,43.61-36.66,65.44-54.96.78-.65,1.82-1.39,2.75-1.39,10.74-.1,21.48-.06,32.43-.06v347.79h-37.8v-2.85c0-37.91.06-75.83-.02-113.74-.04-21.38-5.22-41.39-17.02-59.39-10.12-15.43-23.44-27.12-41.46-32.3-22.63-6.5-42.88-1.05-60.59,13.91-16.96,14.32-26.57,33.11-30.78,54.62-1.52,7.79-2.22,15.85-2.27,23.8-.23,37.58-.1,75.16-.1,112.74v3.24h-37.97v-90.44c-.88.59-1.42.89-1.89,1.28-22.83,19.18-45.64,38.39-68.5,57.54-1.22,1.02-1.68,2.05-1.67,3.61.06,8.42.03,16.83.03,25.25,0,.9,0,1.79,0,2.87H0V8.5Zm38.44,131.57c15.84-13.32,31.28-26.3,46.94-39.46-15.68-13.18-31.12-26.16-46.94-39.45v78.9Zm46.94,96.3c-15.69-13.19-31.13-26.16-46.9-39.41v78.83c15.81-13.29,31.26-26.27,46.9-39.42Zm214.96-96.67V61.53c-15.66,13.17-31.03,26.08-46.5,39.09,15.6,13.11,30.89,25.96,46.5,39.08Zm-236.59,28.8c15.54,13.06,30.77,25.85,46.24,38.84v-77.71c-15.59,13.1-30.79,25.88-46.24,38.86Zm84.63-28.94c15.73-13.22,30.95-26.02,46.33-38.94-15.49-13.02-30.73-25.82-46.33-38.93v77.87Z" />

      <path class="logo"
        d="m800,0c3.26,2.32,3.72,5.58,3.27,9.27-1.25,10.15-2.81,20.29-3.47,30.49-.58,8.93-.12,17.93-.12,27.49,6.2-3.29,11.78-6.18,17.25-9.28.52-.29.61-1.94.39-2.83-1.32-5.52-4-10.37-7.62-14.72-.9-1.08-1.84-2.12-3.02-3.47,8.85-5,16.52-11.61,26.16-14.7,7.48-2.4,12.55.27,14.94,7.73.99,3.08,1.51,6.3,2.29,9.45.65,2.58,1.25,5.18,2.1,7.7.82,2.42,1.94,4.74,3.1,7.53-6.91,4.02-13.79,8.01-20.88,12.13,7,5.77,16.05,8.53,21.89,16.05-.53.59-1.08,1.26-1.69,1.89-5.92,6.07-7.09,12.93-3.5,20.59,2.05,4.38,5.03,8.02,8.85,10.98,1.5,1.17,3.01,2.34,4.83,3.75-1.82.98-3.4,1.79-4.95,2.68-10.17,5.84-20.36,11.65-30.48,17.58-1.29.76-1.99.54-3.01-.29-6.36-5.18-8.97-9.11-12.04-18.59-3.16,2.85-6.21,5.6-9.26,8.36-3.64,3.3-7.15,6.75-10.93,9.88-5.86,4.86-9.79,5.33-16.15,1.33-7.32-4.6-14.32-9.7-21.64-14.71,7.71-8.26,8.29-18.69,9.02-28.85,1.71-24.1.09-48.08-3.89-71.9-.41-2.43-1.28-4.79-2.03-7.53C770.91,12.01,782.45,6.01,794,0c2,0,4,0,6,0Zm-.21,86.28v30.18c4.63,1.11,9.39,2.24,14.39,3.44-.49-8.71,2.27-16.12,5.96-23.36-6.76-3.4-13.27-6.68-20.35-10.25Z" />

      <path class="logo"
        d="m638,356.5c-9.19-16.84-18.38-33.68-27.73-50.81h55.97c-9.3,17.03-18.52,33.92-27.73,50.81h-.5Zm11.5-32.64l-.02-.85c-1.79-.84-3.52-1.89-5.4-2.45-1.73-.51-2.49-1.46-3.03-3.09-.63-1.88-1.66-3.63-2.51-5.44-.24.02-.47.04-.71.07-.91,2.03-1.73,4.1-2.76,6.06-.43.82-1.19,1.64-2.01,2.07-1.97,1.06-4.07,1.89-6.11,2.81l.08.78c1.86.86,3.66,1.92,5.6,2.51,1.56.48,2.22,1.28,2.72,2.77.66,1.96,1.73,3.79,2.62,5.67.23-.02.47-.04.7-.06.91-2.03,1.73-4.1,2.77-6.06.44-.83,1.2-1.66,2.03-2.09,1.95-1.03,4.02-1.82,6.04-2.71Z" />

      <path class="logo"
        d="m501.03,144.18c5.86,3.53,11.52,7.04,17.27,10.37,3.16,1.83,6.45,3.46,9.76,5.01,8.05,3.78,16.22,3.03,24.31.2,2.45-.85,4.31-.57,6.12,1.2,1.78,1.73,3.66,3.35,5.47,5-.18.28-.23.48-.34.54-10.68,5.17-14.86,14.71-17.08,25.52-2.79,13.57-2.55,27.32-2.4,41.06.06,5.66.27,11.32.26,16.98,0,1.63.45,2.26,2.03,2.74,3.41,1.04,6.85,2.15,10.02,3.72,4.94,2.45,5.99,6.74,3.16,11.48-.81,1.35-1.73,2.65-2.71,3.89-4.91,6.14-9.14,12.69-12.16,19.98-.25.6-.61,1.15-.67,1.27-15.79-8.09-31.44-16.12-47.24-24.22.4-.55.54-.87.79-1.05,7.71-5.39,9.4-13.38,9.35-22.01-.05-9.24-.51-18.48-.48-27.72.01-4.13.57-8.3,1.29-12.38.94-5.32,3.3-10.08,7.24-14.43-10.6-2.45-20.02-6.78-29.25-13.22-.54,5.68-1.36,10.84-1.45,16.02-.26,14.73-.23,29.47-.27,44.21-.01,4.5.34,9,.13,13.48-.11,2.38.82,3.43,2.79,4.25,4.1,1.71,7.97,3.77,10.28,7.67-7.69,9.88-15.35,19.72-23.18,29.77-10.89-10.51-25.69-15.83-35.86-27.22.14-.3.18-.53.29-.58,7.13-3.08,7.73-9.73,7.89-15.96.32-12.88-.02-25.79-.19-38.68-.09-6.49-.46-12.98-.56-19.47-.02-1.56-.59-2.26-1.86-3.06-3.66-2.29-7.18-4.82-10.75-7.26-.69-.47-1.35-.98-2.04-1.44-4.89-3.25-9.94-.93-10.01,5.04-.14,11.48.12,22.96.4,34.43.22,8.72.21,17.37-4.15,25.28-1.47,2.68-3.35,5.13-5.33,8.11,8.5,1.84,16.89,3.66,25.54,5.54-3.95,9.06-7.28,18.26-13.47,25.94-4.95,6.13-10.31,7.27-17.53,4.01-2.04-.92-4.05-1.96-5.97-3.12-10.11-6.14-21.14-9.21-32.85-10.11-2.13-.16-4.24-.52-6.45-1.29,2.58-1.22,5.06-2.73,7.75-3.62,8.15-2.7,11.54-8.92,13.14-16.73,1.91-9.3,1.86-18.71,1.64-28.12-.26-10.82-.83-21.63-1.13-32.45-.05-1.74-.57-2.67-2.07-3.49-4.23-2.32-8.37-4.8-12.54-7.25-1.43-.84-2.87-1.69-4.23-2.65-5.33-3.77-5.6-7.71-1.14-12.44,4.68-4.96,9.3-9.99,13.77-15.14,2.05-2.37,3.68-5.11,5.75-8.05,5.73,4.56,11.38,9.05,17.01,13.55,3.51,2.81,6.9,5.78,10.53,8.42,4.31,3.13,6.62,2.98,10.78-.3,1.63-1.28,3.18-2.69,4.67-4.14,1.72-1.68,3.33-3.47,5.22-5.46-1.06-.75-1.96-1.43-2.9-2.04-11.97-7.89-25.23-13.05-38.45-18.29-7.8-3.09-15.54-6.33-23.61-9.62.63-.71.95-1.15,1.35-1.52,5.54-5.05,11.13-10.04,16.58-15.18.76-.72,1.27-2.12,1.25-3.2-.28-19.4-.69-38.79-.99-58.19-.02-1.57-.59-2.37-1.9-3.09-8.31-4.55-16.43-9.49-25.65-11.92-.05-.31-.15-.53-.09-.61,6.53-7.88,12.83-15.97,19.69-23.56,5.89-6.51,11.01-6.76,18.33-1.82,6.55,4.43,13.04,8.94,19.53,13.46,1.37.96,2.55,1.05,4.1.31,13.74-6.55,27.5-13.03,41.3-19.46.68-.32,1.98-.19,2.56.27,15.21,11.93,27.81,26.24,38.56,42.41-6.26,6.55-14.79,8.9-22.2,12.65,4.53,3.51,9.24,6.7,13.41,10.49,17.48,15.87,18.35,36.81,2.41,54.26-10.58,11.58-23.92,18.61-38.62,23.43-2.82.93-5.55,2.14-8.74,3.38,3.67,2.42,6.91,4.52,10.12,6.68,5.18,3.48,10.33,7.01,15.5,10.5,2.94,1.98,5.82,1.94,8.4-.57,5.61-5.45,11.16-10.97,16.73-16.46,1.3-1.28,2.6-2.56,4.03-3.97Zm-87.85-35.95l.37.84c.45.18.89.37,1.35.53,13.53,4.68,26.68,10.24,39.38,16.84,3.45,1.8,3.5,1.9,6.24-.81,4.77-4.72,8.61-9.95,8.56-17.12-.05-6.71-3.47-11.85-7.81-16.49-6.41-6.84-14.29-11.63-22.67-15.63-.74-.35-1.95-.22-2.75.13-4.11,1.8-8.16,3.73-12.23,5.63-3.11,1.45-3.41,3.79-.71,6.03,2.61,2.17,5.27,4.26,7.52,6.07-5.82,4.72-11.53,9.35-17.25,13.98Zm8.07-40.18c.69-.18,1.01-.22,1.3-.34,7.3-3.2,14.61-6.36,21.87-9.65,2.26-1.02,4.4-2.32,6.54-3.59,1.74-1.03,2.03-2.53.96-4.25-.61-.99-1.14-2.06-1.9-2.92-3.65-4.09-7.32-8.17-11.1-12.14-2.17-2.27-4.33-5.65-6.92-6.11-2.6-.46-5.7,2.19-8.65,3.29-1.51.56-1.9,1.4-1.9,2.94,0,7.81-.13,15.62-.2,23.44-.03,3.04,0,6.08,0,9.32Z" />

      <path class="logo"
        d="m807.99,288.72c-6.03-4.54-12.11-9-18.07-13.63-5.56-4.32-4.61-5.45-10.06.7-3.41,3.86-6.52,8-9.78,12.02-13.81-7.54-27.64-15.09-41.58-22.7,5.5-14.22,6.68-29.05,6.12-44-.39-10.45-1.82-20.87-2.73-31.31-.07-.78.09-1.92.6-2.35,9.69-8.14,19.41-16.24,29.2-24.26,4.87-3.99,10.47-5.71,16.78-4.65,2.38.4,4.75.85,7.09,1.43,11.04,2.77,22.07,5.59,33.21,8.43,0,.14.09.43-.01.6-4.17,6.41-5.04,13.71-5.23,21.05-.36,13.98-.4,27.97-.55,41.96-.05,4.91.07,9.83-.15,14.74-.08,1.82.59,2.67,2,3.52,3.85,2.32,7.62,4.76,11.42,7.17,4.12,2.62,4.04,5.79-.16,8.38-2.62,1.62-5.29,3.16-7.82,4.91-5.32,3.67-8.92,8.45-9.21,15.2-.03.73-.19,1.44-.3,2.17-.26.21-.53.42-.79.63Zm-28.64-34.58c.45-21.68.89-42.85,1.33-63.89-4.93-1.09-9.46-2.1-14.17-3.14,0,.82,0,1.56,0,2.3.08,10.57.13,21.14.27,31.71.11,8.65.29,17.3.54,25.95.02.82.54,2.04,1.18,2.35,3.36,1.62,6.84,3,10.86,4.72Z" />

      <path class="logo"
        d="m648.83,149.22c-4.29-4.05-8.29-7.8-12.26-11.58-1.99-1.89-3.88-3.89-5.9-5.76-3.52-3.25-3.94-3.34-7.14.34-4.3,4.96-8.34,10.14-12.52,15.27-13.73-7.49-27.49-15.01-41.33-22.56,1.09-3.83,2.39-7.67,3.27-11.61,3.14-14.1,3.32-28.4,2.27-42.72-.52-7.13-1.63-14.21-2.37-21.32-.08-.73.3-1.8.85-2.26,8.63-7.33,17.47-14.42,25.96-21.9,7.62-6.71,15.94-8.51,25.7-5.79,11.05,3.08,22.25,5.59,33.38,8.36.39.1.76.31,1.22.5-6.55,11.12-5.72,23.47-5.99,35.54-.32,14.48-.12,28.97-.06,43.45,0,.79.62,1.86,1.29,2.3,4.09,2.72,8.28,5.27,12.41,7.92,3.58,2.29,3.54,5.51-.1,7.8-2.25,1.42-4.62,2.65-6.83,4.12-5.62,3.75-9.56,8.7-10.74,15.56-.23,1.3-.66,2.57-1.13,4.35Zm-41.33-102.35c0,.83,0,1.49,0,2.14.08,10.91.13,21.82.27,32.73.1,8.33.3,16.65.52,24.97.02.79.35,2.01.89,2.27,3.49,1.66,7.09,3.11,10.94,4.76.12-1.54.26-2.68.29-3.82.24-10.24.46-20.48.67-30.72.18-9.07.37-18.15.45-27.22,0-.81-.66-2.21-1.27-2.36-4.1-1.04-8.27-1.82-12.76-2.75Z" />

      <path class="logo"
        d="m605.21,252.44c12.74.25,25.48,2.99,38.28,6.31-.1.35-.11.72-.29.92-5.29,6.09-10.53,12.24-15.96,18.2-1.54,1.69-3.59,2.98-5.57,4.17-4.39,2.64-9.04,2.83-13.6.54-3.48-1.75-6.84-3.79-10.15-5.86-8.44-5.29-17.37-9.47-26.94-12.25-.79-.23-1.56-.52-2.29-.77,3.05-28.22,6.31-56.34-1.33-84.64,17.87-6.1,34.61-15.38,50.96-25.82,4.83,7.51,9.62,14.8,14.24,22.21,2.68,4.3,5.36,8.65,7.5,13.23,1.3,2.78,2.06,6.01,2.22,9.08.18,3.58-1.91,6.56-4.76,8.66-3.88,2.86-8.01,5.38-11.94,8.17-6.17,4.39-12.25,8.9-18.41,13.31-1.28.92-1.67,1.93-1.66,3.54.02,6.89-.18,13.78-.3,21.01Zm.17-41.26c2.77-2.08,4.96-3.67,7.06-5.37.4-.33.8-1.32.6-1.62-2.44-3.75-4.98-7.44-7.67-11.38v18.37Z" />

      <path class="logo"
        d="m654.25,170.07c14.53-9.69,28.82-19.22,43.02-28.69.06,14.1-5.61,27.93-4.31,42.97,10.51-.41,21-.82,31.83-1.24-4.93,10.39-9.75,20.57-14.49,30.56-5.66-.71-11.07-1.39-16.89-2.11,0,3-.01,5.46,0,7.92.05,9.08.17,18.16.11,27.24,0,1.74.52,2.53,2.15,2.95,9.25,2.41,18.49,4.87,27.73,7.32.47.13.94.26,1.83.51-1.16,1.43-2.13,2.71-3.18,3.91-4.57,5.18-9.14,10.36-13.78,15.48-1.11,1.23-2.44,2.26-3.71,3.33-5.43,4.6-11.32,5.36-17.56,1.83-9.89-5.6-20.13-10.31-31.28-12.82-.23-.05-.43-.23-.62-.34,0-.2-.07-.4,0-.5,5.42-6.88,5.29-15.12,5.22-23.15-.09-10.4-.81-20.79-1.27-31.18-.01-.24-.12-.47-.21-.81-2.47,0-4.97.25-7.39-.05-4.4-.54-5.56-3.92-3.06-7.57,3.05-4.45,6.14-8.92,8.64-13.68,3.58-6.81,3.3-13.61-1.53-19.93-.55-.72-.99-1.52-1.27-1.95Z" />

      <path class="logo"
        d="m751.92,34.59c-4.34,4.48-8.35,8.68-12.42,12.82-3.16,3.2-6.46,6.27-9.56,9.52-1.27,1.34-2.35,1.77-4.06.82-5-2.78-10.07-5.44-15.29-8.25-.05.54-.17,1.22-.16,1.9.18,16.48.4,32.97.54,49.45.01,1.56.55,2.48,1.96,3.03,7.73,3.03,15.44,6.09,23.18,9.1,1.86.72,3.82,1.18,5.65,1.95,5.18,2.19,6.24,6.37,2.74,10.8-1.18,1.5-2.49,2.92-3.9,4.2-5.42,4.93-10.92,9.76-16.35,14.69-.92.84-1.6,1.12-2.79.4-15.04-9.14-30.88-16.63-47.23-23.09-.22-.09-.41-.27-.6-.4,5.09-26.81,5.99-53.5-1.46-80.24.16-.12.48-.36.8-.59,8.74-6.22,17.84-11.99,26.11-18.78,8.07-6.63,16.03-8.24,25.19-3.02,9.22,5.26,18.46,10.48,27.65,15.69Z" />

      <path class="logo"
        d="m566.47,119.33c-8.02,9.15-15.74,17.96-23.68,27.03-11.84-9.82-25.3-17.66-39.65-25.24,2.36-.8,4.2-1.64,6.14-2.03,2.23-.45,3.34-1.75,3.66-3.8,1.04-6.56,2.42-13.1,2.92-19.71,1.21-15.88.94-31.77-.9-47.6-.49-4.2-1.42-8.35-2.2-12.52-.49-2.59-1.71-4.59-4.39-5.55-1.3-.47-2.47-1.33-3.92-2.15,3.24-1.66,6.26-3.19,9.26-4.76,9.86-5.13,18.94-11.41,27.54-18.43,2.33-1.9,4.8-3.97,8.07-2.09,3.15,1.8,2.67,4.97,2.34,7.81-2.73,23.39-2.05,46.88-2.08,70.34-.01,9.41.14,18.81.12,28.22,0,1.65.49,2.53,2.01,3.24,4.81,2.25,9.54,4.67,14.75,7.24Z" />

      <path class="logo"
        d="m893.5,260.82c-8.02,9.15-15.74,17.96-23.23,26.5-11.51-7.46-23.2-15.03-35.2-22.8,0,.41-.1.1.01-.06,5.95-8.74,8.09-18.74,9.23-28.97,1.99-17.73,1.55-35.4-2.29-52.91-.16-.73-.39-1.45-.54-2.18-.95-4.67-3.07-8.38-7.92-9.97-.67-.22-1.24-.73-1.77-1.05,6.72-3.8,13.55-7.3,19.99-11.4,5.74-3.66,11.06-7.99,16.57-12.01,2.36-1.72,4.69-3.8,7.89-2.05,3.21,1.76,2.81,4.89,2.47,7.76-2.6,22.15-2.15,44.4-2.12,66.63.01,10.5.16,20.99.12,31.49,0,1.99.49,3.14,2.41,4.01,4.69,2.11,9.27,4.49,14.38,7.01Z" />

      <path class="logo"
        d="m168.3,237.19c7.43-4.86,14.98-8.69,22.97-11.56,4.68-1.68,9.51-2.97,14.33-4.24,1.74-.46,2.54-1.15,2.94-2.99,2.8-12.89,8.01-24.8,14.96-35.98.21-.33.48-.62,1.04-1.34,2.4,4.41,4.78,8.48,6.88,12.7,3.84,7.69,6.82,15.72,8.56,24.15.45,2.17,1.34,3.11,3.55,3.58,12.57,2.7,24.16,7.85,35.09,14.53.48.3.92.66,1.8,1.3-4.04,2.24-7.72,4.43-11.54,6.36-8.34,4.22-17.05,7.51-26.24,9.32-1.99.39-2.22,1.63-2.54,3.09-2.79,12.64-7.89,24.32-14.64,35.32-.3.49-.66.94-1.34,1.9-2.62-4.87-5.52-9.25-7.42-14.03-3.1-7.78-5.63-15.79-8.19-23.76-.52-1.62-1.27-2.22-2.79-2.55-13.32-2.89-25.56-8.34-37.42-15.8Z" />

      <path class="logo"
        d="m411.63,329.8c4.34,1.95,7.05,5.07,7.41,9.85.56,7.42-3.04,12.46-10.27,14.36-1.6.42-3.27.82-4.9.83-10.98.07-21.96.04-33.16.04v-49.39h2.63c9.41,0,18.81-.09,28.22.06,2.7.04,5.49.49,8.07,1.3,4.73,1.48,7.76,4.73,8.42,9.81.68,5.23-.86,9.52-5.5,12.43-.28.17-.53.4-.92.69Zm-23.56,14.4c3.56,0,6.88.2,10.16-.06,2.47-.2,3.41-2.07,3.39-4.45-.01-2.37-1.01-4.28-3.41-4.49-3.34-.3-6.73-.08-10.14-.08v9.08Zm.06-19.06c3.39,0,6.63.25,9.8-.08,2.37-.25,3.4-2.24,3.11-4.86-.26-2.3-1.53-3.67-3.88-3.74-2.96-.08-5.93-.02-9.03-.02v8.7Z" />

      <path class="logo"
        d="m882.55,329.72c6.08,3.52,8.19,7.49,7.37,13.59-.74,5.45-4.46,9.25-10.67,10.79-1.45.36-2.94.73-4.42.74-10.99.06-21.97.03-33.19.03v-49.27c.73-.04,1.45-.11,2.18-.11,9.66,0,19.33-.17,28.98.09,3.16.08,6.54.72,9.4,2.02,8.58,3.87,9.43,15.72,1.75,21.16-.4.29-.82.55-1.41.95Zm-23.45,5.32v9.22c3.4,0,6.63.21,9.83-.07,2.55-.22,3.73-2.11,3.61-4.79-.11-2.49-1.48-4.19-3.92-4.32-3.12-.17-6.27-.04-9.51-.04Zm-.05-9.5c3.44-.15,6.66-.1,9.83-.5,2.24-.28,3.3-2.19,3.11-4.64-.17-2.15-1.23-3.75-3.44-3.89-3.11-.2-6.24-.05-9.49-.05v9.07Z" />

      <path class="logo"
        d="m453.97,304.38c4.34-.05,10.74,1.36,16.13,5.85,3.92,3.27,6.22,7.57,7.24,12.51,1.25,6.05,1.17,12.11-.88,17.98-2.68,7.69-8.23,12.32-16.05,14.27-6,1.5-12.07,1.51-18.03-.08-8.69-2.31-14.48-7.78-16.39-16.67-2.2-10.23-1.48-20,6.73-27.7,5.21-4.89,11.82-6.13,21.25-6.17Zm-11.1,25.52c.56,2.87.86,5.95,1.8,8.82,1.01,3.09,3.44,4.79,6.85,4.78,3.28,0,5.76-1.52,6.89-4.73,1.99-5.66,1.97-11.43,0-17.08-1.08-3.1-3.45-4.78-6.86-4.77-3.23,0-5.77,1.53-6.86,4.75-.87,2.56-1.19,5.3-1.81,8.23Z" />

      <path class="logo"
        d="m511.19,304.52c8.49-.05,16.11,2,21.68,9.06,6.92,8.77,7.57,30.54-5.29,38.07-10.75,6.29-21.99,6.25-32.75.06-7.38-4.25-9.89-11.67-10.14-19.76-.11-3.61.27-7.36,1.18-10.85,2.54-9.71,10.6-15.79,21.34-16.57,1.32-.1,2.66-.01,3.99-.01Zm-8.74,25.86c.64,2.84,1.06,5.9,2.03,8.76,1.01,2.96,3.46,4.34,6.63,4.36,3.17.01,5.55-1.41,6.69-4.32,2.3-5.89,2.31-11.9.04-17.8-1.19-3.11-3.68-4.61-7.09-4.47-3.32.13-5.57,1.9-6.54,4.91-.86,2.65-1.16,5.48-1.77,8.56Z" />

      <path class="logo"
        d="m596.15,305.5c-4.86,6.47-9.3,12.5-13.87,18.43-1.16,1.51-1.34,2.63-.35,4.39,4.5,7.97,8.81,16.04,13.18,24.08.38.7.71,1.43,1.24,2.51-6.53,0-12.66.05-18.79-.08-.6-.01-1.38-1.01-1.74-1.72-2.56-5.12-5.04-10.28-7.48-15.31-7.04,3.8-6.47,10.35-5.94,16.93h-17.64v-49.05h17.4v19.35c.97-1.08,1.46-1.55,1.86-2.09,4.01-5.32,7.98-10.67,12.03-15.96.49-.64,1.37-1.39,2.09-1.41,5.81-.11,11.62-.06,18-.06Z" />

      <path class="logo"
        d="m833.58,305.59c0,9.53.02,18.84-.01,28.15,0,2.08.07,4.19-.29,6.22-1.29,7.33-5.73,12.12-12.7,14.33-7.73,2.45-15.59,2.5-23.29-.27-7.17-2.57-11.73-7.78-12.09-15.32-.52-10.95-.13-21.93-.13-33.05h17.69c0,.95,0,1.85,0,2.75,0,9.24-.02,18.48,0,27.72.01,5.24,3.76,8.09,8.83,6.79,3.12-.8,4.63-3.03,4.64-7.06.03-9.07,0-18.15,0-27.22v-3.03h17.34Z" />

      <path class="logo"
        d="m729.13,326.89h-17.14c-.5-1.68-.87-3.38-1.51-4.98-1.39-3.45-3.76-5.06-7.01-4.99-3.21.07-5.53,1.8-6.68,5.39-1.69,5.29-1.72,10.66.04,15.95,1.15,3.45,3.42,5.14,6.54,5.23,3.23.09,5.77-1.58,7.07-4.91.66-1.68,1-3.49,1.54-5.42h16.99c.6,8.57-5.29,17.53-13.89,20.8-7.51,2.85-15.2,2.94-22.74.27-9.47-3.36-13.95-10.74-14.7-20.36-.32-4.08.01-8.37.92-12.36,1.93-8.42,7.45-13.77,15.79-16,6.4-1.71,12.85-1.66,19.2.39,9.35,3.02,15.18,10.81,15.58,20.99Z" />

      <path class="logo" d="m736.23,305.61h17.62v37.51h25.46v11.6h-43.08v-49.11Z" />
    </svg>
    {# <nav>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('releases') }}">Release Calendar</a>
    </nav> #}
  </header>
  {% block main %} {% endblock %}
  <footer>
    <a href="#logo-container">
      <svg id="sigil-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720.11 720.5">
        <g id="sigil">

          <path id="brand"
            d="m370.59,720.5h-21c-.46-.14-.92-.39-1.38-.4-17.85-.44-35.54-2.41-53.1-5.57-33.79-6.08-66.04-16.83-96.7-32.26-37.08-18.68-69.91-43.13-98.63-73.13-26.76-27.96-48.62-59.32-65.18-94.3C8.63,459.97-2.51,402.15.47,341.54c1.61-32.7,7.52-64.59,17.93-95.61,19.07-56.82,50.55-105.76,93.98-147.01,38.05-36.14,81.89-62.77,131.59-79.68C277.37,7.87,311.72,1.66,346.98.46c1.54-.05,3.07-.3,4.61-.46,5.67,0,11.33,0,17,0,.53.14,1.06.39,1.59.4,16.26.33,32.39,1.94,48.44,4.54,38.1,6.17,74.26,18.18,108.41,36.13,45.62,23.99,84.41,56.27,116.2,96.81,47.15,60.11,72.44,128.48,76.45,204.76.04.79.27,1.57.42,2.36v30.5c-.14.54-.38,1.07-.4,1.61-.85,19.84-3.36,39.46-7.54,58.87-14.49,67.22-45.85,125.44-93.54,174.87-29.42,30.49-63.22,55.06-101.36,73.57-42.37,20.55-87.08,32.23-134.08,35.17-4.2.26-8.39.61-12.59.91Zm-60.72-52.62c.19-.22.37-.44.56-.65-78.4-143.99-156.8-287.98-235.32-432.18-35.77,78.62-40.24,189.39,17.48,284.4,49.89,82.13,123.08,131,217.28,148.43Zm99.69-.52c87.77-12.14,187.72-73.15,235.74-182.16,17.52-39.78,26.03-81.51,26.02-124.94-.01-43.42-8.58-85.08-26.25-125.43-78.7,144.54-157.07,288.47-235.51,432.53ZM120.13,162.32h479.89C475.65,9.37,239.64,13.25,120.13,162.32Zm144,195.4c.09,17.65,2.22,32.35,6.95,46.61,7.6,22.91,19.84,42.8,39.52,57.23,26.4,19.36,54.88,22.87,84.71,8.71,19.79-9.4,34.03-24.93,44.22-44.05,17.29-32.46,20.63-66.74,11.66-102.2-6.2-24.5-18.2-45.77-37.9-62.01-22.11-18.24-47.21-24.8-75.2-16.92-20.33,5.73-36.06,18.28-48.49,35.05-17.64,23.8-25.11,50.9-25.47,77.58Zm162.51-146.18c1.05.7,1.64,1.1,2.23,1.47,11,6.91,20.99,15.06,29.67,24.71,36.09,40.15,49.42,87.68,45.27,140.78-.44,5.58-1.37,11.12-2.07,16.68.11.05.22.1.33.14,33.31-61.18,66.62-122.36,100.07-183.79h-175.5Zm-133.17.04H117.95c33.51,61.54,66.86,122.8,100.45,184.49.05-.78.12-1.03.08-1.26-2.34-12.73-3.24-25.56-3.01-38.51.49-27.2,6.39-53.12,18.18-77.63,8.56-17.79,19.87-33.64,34.15-47.34,7.66-7.35,16.02-13.78,25.67-19.75Zm-22.3,281.41c29.55,54.26,59.1,108.53,88.86,163.2,29.74-54.63,59.22-108.77,88.69-162.9-50.11,45.35-126.95,45.97-177.56-.29Z" />

          <path id="eye"
            d="m446.71,360.52c-5.39,3.3-10.45,6.63-15.72,9.59-13.27,7.44-27.25,13.16-42.14,16.46-2.11.47-2.29,1.81-2.66,3.32-4.79,19.88-13.24,38.12-24.75,54.97-.37.54-.79,1.04-1.41,1.85-.71-.97-1.36-1.78-1.94-2.63-11.3-16.69-19.55-34.76-24.24-54.39-.49-2.07-1.42-2.77-3.32-3.23-20.04-4.84-38.45-13.32-55.4-25.01-.47-.33-.9-.72-1.87-1.51,6.68-3.94,12.99-7.94,19.55-11.46,12.14-6.53,24.92-11.47,38.39-14.51,1.47-.33,2.14-.99,2.51-2.54,4.7-19.8,12.98-38.04,24.36-54.88.56-.82,1.16-1.62,1.93-2.7.93,1.26,1.79,2.34,2.56,3.49,11.02,16.56,19.14,34.42,23.73,53.81.44,1.84,1.27,2.49,3.02,2.91,20.04,4.81,38.46,13.27,55.43,24.92.54.37,1.04.81,1.98,1.56Z" />
        </g>
      </svg>
    </a>
  </footer>
</body>

</html>