<summary>
  <div class="date-header">
    <div class="date-header-date">
      <a href="{{ url_for('releases') + '/' + date }}">{{ date }}</a>
    </div>
    <div class="date-header-release-count">
      {% if release_count == 1 %}1 release{% else %}{{ release_count }} releases{% endif %}
    </div>
  </div>
</summary>