{% extends 'base.jinja' %}

{% block main %}
<main>
    <div class="grid-container">
        <article class="center">
            We are a black metal fan club and dark art collective. <br />
            <br />
            Follow any of the listed pages for reviews and updates on events.
            <ul class="links">
                <li><a href="https://www.instagram.com/blackmetalbookclubsav/">Instagram</a></li>
                <li><a href="https://blog.blackmetalbookclub.com/">Substack</a></li>
                <li><a href="https://discord.gg/We5jSrm2uN">Discord</a></li>
                <li><a href="https://www.meetup.com/black-metal-book-club/">Meetup</a></li>
            </ul>
        </article>
    </div>
</main>
{% endblock %}