{% extends 'base.jinja' %}

{% block main %}
<main id="label">
  <h2>{{ data.profile.name }}</h2>
  <a href="/api/label/{{ data.profile.label_key }}">JSON</a> |
  <a href="{{ data.profile.url }}">Metal Archives</a><br />

  {% if data.profile.associated %}<strong>Associated:</strong> {{ data.profile.associated | join(', ') }}{% endif %}

  <section>
    <h3>Details</h3>
    <table>
      <tbody>
        {% for key in data.profile.description %}
        {% with value=data.profile.description[key] %}
        {% if value and value != 'Unknown' %}
        <tr>
          <td><strong>{{ key | replace('_', ' ') | title }}</strong></td>
          <td>{{ value }}</td>
        </tr>
        {% endif %}
        {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  </section>

  {% if data.links.links | length > 0 %}
  <section>
    <h3>Online Presence</h3>
    <table>
      <tbody>
        {% for link in data.links.links %}
        <tr>
          <td><strong>{{ link.name }}</strong></td>
          <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% endif %}

  <section>
    <h3>Roster</h3>
    <table>
      <thead>
        <th>Name</th>
        <th>Country</th>
        <th>Genre</th>
        <th>Status</th>
      </thead>
      <tbody>
        {% for member in data.roster.current %}
        <tr>
          <td>{{ member.band.name }}</td>
          <td>{{ member.country_of_origin }}</td>
          <td>{{ member.subgenres.genre }}</td>
          <td>Current</td>
        </tr>
        {% endfor %}
        {% for member in data.roster.past %}
        <tr>
          <td>{{ member.band.name }}</td>
          <td>{{ member.country_of_origin }}</td>
          <td>{{ member.subgenres.genre }}</td>
          <td>Past</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h3>Releases</h3>
    <table>
      <thead>
        <th>Band</th>
        <th>Name</th>
        <th>Type</th>
        <th>Catalog</th>
        <th>Format</th>
        <th>Year</th>
      </thead>
      <tbody>
        {% for release in data.releases %}
        <tr>
          <td>{{ release.band.name }}</td>
          <td>{{ release.album.name }}</td>
          <td>{{ release.release_type }}</td>
          <td>{{ release.catelog }}</td>
          <td>{{ release.media_format }}</td>
          <td>{{ release.year }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</main>
{% endblock %}