{% extends 'base.jinja' %}

{% block main %}
<main id="releases">
  <details id="release-picker" open>
    <summary>Report Options</summary>
    <ul>
      Timeframe
      <li><a href="/releases/calendar/{{ meta.year }}/{{ meta.month }}/{{ meta.day }}">Today</a></li>
      <li><a href="/releases/calendar/{{ meta.year }}/{{ meta.month }}">This Month</a></li>
      <li><a href="/releases/calendar/{{ meta.year }}">This Year</a></li>
    </ul>
    <ul>
      Download
      {% for format in meta.supported_formats %}
      <li><a href="/api/releases/{{ meta.year }}/{{ meta.month }}/{{ format }}">{{ format }}</a></li>
      {% endfor %}
    </ul>
  </details>
  {% block releases %} {% endblock %}
</main>
{% endblock %}