{% extends 'base.jinja' %}

{% block main %}
<main id="releases"></main>
  <section id="release-report-picker">
    <ul>
      <li><a href="/releases/calendar/{{ meta.year }}/{{ meta.month }}/{{ meta.day }}">Today</a></li>
      <li><a href="/releases/calendar/{{ meta.year }}/{{ meta.month }}">This Month</a></li>
      <li><a href="/releases/calendar/{{ meta.year }}">This Year</a></li>
    </ul>
  </section>
  <section id="releases-calendar">
    {{ calendar }}
  </section>
</main>
{% endblock %}