{% extends 'releases.jinja' %}

{% block releases %}
<section>
    {% if data.releases | length == 0 %}
    <h3>No releases found for {{ data.date }}</h3>
    {% else %}
    <table>
      <caption>⛧ {{ meta.selected_date }} ⛧</caption>
      <thead>
        <th>Band</th>
        <th>Release</th>
        <th>Label</th>
      </thead>
      <tbody>
        {% for release in data.releases | sort(attribute="band_name") %}
        <tr>
          <td><a target="_blank" href="/band/{{ release.band_key }}">{{ release.band_name }}</a></td>
          <td><a target="_blank" href="/band/{{ release.band_key }}/album/{{ release.album_key }}">{{ release.album_name }}</a></td>
          <td>{% if release.label_name %}<a target="_blank" href="/label/{{ release.label_key }}">{{ release.label_name }}</a>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </section>
{% endblock %}